.nav_title {
    color: #FFF;
    font-family: 'Sarina', cursive;
    font-size: 3rem;
}

.nav_subtitle {
    color: #FFF;
    font-size: 2rem;
    font-family: 'Century Gothic', cursive;
}

.nav-item a {
    color: #FFF !important;
}

.navbar {
    margin-bottom: 0 !important;
}

.dropdown-menu a {
    color: #000 !important;
    padding-top: 7px;
    padding-bottom: 7px;
}

.dropdown-menu .nav-item {
    padding-left: 11px;
}

.dropdown-menu .nav-item a {
    padding-left: 7px;
}
/* 
@media (max-width: 1180px) {
    .nav_title {
        font-size: 2.5rem;
    }

    .nav_subtitle {
        font-size: 1.5rem;
    }
} */

@media (max-width: 993px) {
    a.nav_subtitle.nav-link.disabled {
        font-size: 1.3rem !important;
    }
}

@media (max-width: 991px) {
    a.nav_subtitle.nav-link.disabled {
        display: none !important;
    }
}

@media (max-width: 708px) {
    .nav_title {
        font-size: 2.5rem;
    }

    .nav_subtitle {
        font-size: 1.7rem;
    }
}

@media (max-width: 613px) {
    .nav_title {
        font-size: 2.2rem;
    }

    .nav_subtitle {
        font-size: 1.5rem;
    }
}

@media (max-width: 552px) {
    .nav_title {
        font-size: 2rem;
    }

    .nav_subtitle {
        font-size: 1.3rem;
    }
}

@media (max-width: 552px) {
    .nav_title, .nav_subtitle {
        display: none;
    }
}

@media (max-width: 346px) {
    .btnPosition {
        position: absolute;
        right: 15px;
    }
}