.img-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 10px;
    margin-top: 1rem;
    padding-right: 25px;  
}

.grid-container .container {
    background-color: #FFF;
    border-radius: 7px;
}

#img-wrapper {
    width: 25%;
}

.img-container li img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#img-preview {
    width: 100%;
    height: auto;
}